<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
        <h3>Error</h3>
        <p>{{ msjError }}</p>
</div>

<app-tarjeta  [items] = "nuevasCanciones"></app-tarjeta>