<div class="row">
    <div class="col">
        <input  #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artistas">
    </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjeta *ngIf="!loading" [items] = "artistas"></app-tarjeta>
