<app-loading *ngIf="loading" class="m-5"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artista.name }} </h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la pagina del artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">
            regresar
        </button>
    </div>
</div>

<div class="row">
    <div class="col">

        <table class="table">
            <thead>
                <tr>
                    <th>foto</th>
                    <th>album</th>
                    <th>cancion</th>
                    <th>vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noimage" class="img-thumb"  alt="">
                    </td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name  }} </td>
                    <td>
                           <!-- <audio [src]="track.preview_url" controls></audio> -->
                           <iframe [src]="track.uri | domseguro: 'https://open.spotify.com/embed/?uri='" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
